@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: rgb(22,32, 42);

}
.container{
    width: 100%;
    max-width: 760px;
    height: 2000px;
    border: 2px grey solid;
    margin: 20px auto;
  
}

.header__photo-back{
    background-color: rgb(28, 160, 242);
    height: 200px;
    background-image: url(https://w-dog.ru/wallpapers/1/73/432973835339662.jpg);
    background-size: cover;
    background-position: 2px;
    background-repeat:repeat-y;
}

.header__photo-ava{
    width: 150px;
    height: 150px;
    border: 4px  rgb(22,32, 42) solid;
    border-radius: 50%;
    background-color:  rgb(28, 160, 242);
    margin-top: -80px;
    margin-left: 10px;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/kit-harington-hair-jon-snow-1569167827.jpg?crop=0.439xw:0.878xh;0.0221xw,0.0306xh&resize=480:*);
    background-size: cover;
}

.header__photo-btn{
    text-align: right;
    margin-top: -60px;
    margin-right: 15px;
}

.header__photo-BTN{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: 2px rgb(28, 160, 242) solid;
    background-color: transparent;
    color:  rgb(28, 160, 242);
    font-weight: 600;

}

.header__info-location{
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.header__current{
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}

.header__current-twit{
    width: 50px;
    height: 4px;
    color:  rgb(28, 160, 242);
}

.header__info-name{
    margin-top: 25px;
    margin-left: 15px;
   font-size: 25px;
  
}

.header__info-nickname{
    margin-left: 15px; 
    font-weight: 100;
    color: rgb(115, 130, 143);
}

.header__info-description{
    margin-top: 10px;
    margin-left: 15px; 
}

.header__info-location1{
    margin-left: 10px;
    margin-top: 5px;
    color: rgb(115, 130, 143);
}

.header__info-location2{
    margin-left: 5px;
    margin-top: 5px;
    color: rgb(115, 130, 143);
}


.header__current-block{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.header__info-follower{
    color: rgb(115, 130, 143)
}


.header__current-block2:hover{
    color:  rgb(28, 160, 242);

}


.header__current-block3:hover{
    color:  rgb(28, 160, 242);
    /* width: 200px; */
    /* height: 100px; */
    /* margin-top: 20px; */
}
.header__current-block4:hover{
    color:  rgb(28, 160, 242);

}

.header__current-block5{
   margin-right: 50px;
}

.header__current-block5:hover{
    color:  rgb(28, 160, 242);
}




.header__info-follower1{

color: white;
    
}


.header__info-follower2{

color: white;
margin-left: 15px;
}


.content__post{
    text-align: center;
    width: 100%;
    height: 170px;
    padding-top: 20px;
    margin:  0 auto;
    border-bottom: 2px grey solid;
    border-top: 2px grey solid;
}

.post-inp{
    width: 300px;
    height: 50px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: transparent;
}

.btn-post{
    border: none;
    background: transparent;
    color: rgb(28, 160, 242);
}



.post-btn{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: 2px rgb(28, 160, 242) solid;
    background-color: transparent;
    color:  rgb(28, 160, 242);
    font-weight: 600;

}


/* DYNAMIC PART ===================== */

body .dynamic_post{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

body .dynamic-div{
    max-width: 700px;
    width: 100%;
    height: auto;
    padding: 20px;
    border:  1px grey solid;
    border-radius: 10px;
    margin: 20px auto;
}

.newPosts {
    margin-left: 0;
    margin-right: 0;
}

/* .newPosts ul{
    padding-left: 0;
} */

body .btn-dynamic{
    width: auto;
    height: 35px;
    border-radius: 25px;
    border: 2px rgb(28, 160, 242) solid;
    background-color: transparent;
    color:  rgb(28, 160, 242);
    font-weight: 600;
}

.pag-btn{
   
    width: auto;
    height: 35px;
    border-radius: 25px;
    border: 2px rgb(28, 160, 242) solid;
    background-color:  rgb(20, 134, 204);
    color:  white;
    font-weight: 600;
}

.pag__btns{
    text-align: center;
}

body .btn-comment{
    margin-left: 50px
}
body .btn-delete{
    margin-left: 50px
}
body .btn-edit{
    margin-left: 50px
}

body .dynamic-img{
    max-width: 280px;
    
}
body .dynamic-img img{
    width: 100%;
}

/* MODAL BLOCK ======================================================================  */

.modal__block{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal{
    width: 500px;
    height: 300px;
    /* background-color: #cccccc; */
    margin: 60px auto;

    font-size: 30px;
    border-radius: 20px;
    box-shadow: -1px 17px 35px 13px rgba(0,0,0,0.39);

    background:  rgb(16, 100, 153);
}


.modal_Container{
    width: 300px;
    height: 200px;
    margin: 0 60px;
    padding: 40px;
    text-align: center;
}

.modal_exitBtn{
    width: 400px;
    height: auto;
    text-align: right;
    margin: 0 90px;

}

.modal_exit{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    width: 30px;
    height: 25px;
    background: #b90b85;
    color: rgb(252, 245, 208);
    border: none;
    border-radius: 5px;
}
.modal_exit:hover{
    background: #e657bb;
}


.modal_inputs input{
    height: 30px;
}

#modal-save{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    width: 100px;
    height: 30px;
    background: #b99c0b;
    color: #161515;
    border: none;
    border-radius: 5px;
}
#btnModal:hover{
    background: #f0cc19;
}

.searchDiv{
    margin-left: 20px;
}
.search{
    width: 300px;
    height: 50px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: transparent;
}

#search-icon{
    color: gray;
}


/* ADD MODAL BLOCK ========================================= */
.add__modal-block{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.add__modal-content{
    width: 500px;
    height: 300px;
    /* background-color: #cccccc; */
    margin: 60px auto;

    font-size: 30px;
    border-radius: 20px;
    box-shadow: -1px 17px 35px 13px rgba(0,0,0,0.39);

    background:  rgb(16, 100, 153);
}




@media all and (max-width: 505px) {
    .container{
        height: 1750px;
    }
    body .btn-dynamic{
        margin-left: 10px;
    }
};


@media all and (max-width: 400px) {
    body .btn-dynamic{
        width: auto;
        height: 15px;
        font-size: 10px
    }

    .header__info-location{
        flex-direction: column !important;
    }
};

#especial{
    display: none;
    margin-left: 5px;
    margin-top: 5px;
    color: rgb(115, 130, 143);
}

@media all and (max-width: 380px) {
    .container{
        height: 2000px;
    }
    body .dynamic-img{
        /* width: ; */
    }

}